<button id="clock-in-btn">Clock In</button>
<button id="clock-out-btn">Clock Out</button>
<div id="time-stamp" type="text">Clocked in @:
    <div>0:00</div>
</div>
<h4>Time: <span id="time">{{ moment d "hour" }}:{{ moment d "minute" }}</span></h4>

<script src="/js/clockin.js"></script>
<script src="/js/clockout.js"></script>